:root {
    --cardScale: 0.4;
    --cardBorderRadius: 30px;
    --navbarHeight: 4rem;
    --primaryColor: darkseagreen;
    --primaryAccentColor: rgb(108, 146, 108);
    --buttonsHeight: 5rem; 
    --cardWidth: 360px;
    --cardHeight: 540px;
    --textSize: 1rem;
    --scoreSize: 1.3rem;
}

body, html {
    /* min-height:100vh; */
    height: calc(100%);
    width: 100%;
    background-color: var(--primaryColor);
    /* overflow: hidden; */
    overflow: hidden;
    /* touch-action: manipulation; */

    scroll-behavior: smooth;
}

body {
    font: 13px Helvetica, SansSerif;
    margin-top: 0px;
}

.w-80
{
    width: 80%;
}

#board .row {
    margin: 0 !important;
}

#titleBar {
	margin-top: 0rem;
	margin-bottom: 0 !important;
	display: flex;
    flex-direction: row;
	align-items: center;
    justify-content: center;
	width: 100%;
    font-weight: lighter;
	height: var(--navbarHeight);
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
}

#titleBar > *
{
    font-size: var(--textSize);
    margin: .25rem;
    white-space: nowrap;
    text-overflow: clip;
}

.titleCheckboxContainer
{
    min-width: 10rem;
}

.btn
{
    font-size: var(--textSize);
    white-space: nowrap;
    text-overflow: clip;
}

#titleBar label
{
    white-space: initial;
    overflow: initial;
    text-overflow: initial;
    text-align: center;
}

#title {
    white-space: pre-wrap;
    margin: auto;
}

.input-group > *
{
    font-size: var(--textSize);
}

.gameAlert {
    position: fixed;
    top: calc(var(--navbarHeight) + 1rem);
    left: calc(50% - (40% / 2));
    z-index: 999;
    font-size: 1rem;
    width: 40%;
}

.uiLabel {
    text-align: center;
    font: var(--scoreSize) Helvetica, SansSerif;
    color: white;
    width: auto;
    height: 1rem;
}

.decisionLabel {
    padding-top: 21.5rem;
    margin-bottom: -21.5rem;
}

.resultLabel {
    padding-top: 19.5rem;
    margin-bottom: -19.5rem;
}

hr {
    margin: 0rem;
    background-color: white;
}

#title {
   /* margin-top: 1.4rem; */
   margin-left: 1rem;
   font-size: 1.6rem;
}

#subtitle {
   margin-top: 1.8rem;
   margin-left: 1rem;
   font-size: 1rem;
}

#versionLabel {
    font-size: 1rem;
    float: right;
    text-align: right;
}

#board {
    background-color: var(--primaryColor);
    height: 100%;
    width: auto;
    padding: 0;
}

.gameButton {
    height: 4.5rem;
    width: 4.5rem;
    /* border-radius: 50%; */
}

.hand, .gameButton {
    display: flex;
    transform-origin: center;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.container-fluid {
    margin: 0;
    
}

.cardContainer {
    width: calc(var(--cardWidth) * var(--cardScale));
    height: calc(var(--cardHeight) * var(--cardScale));
    overflow: hidden;
    /* margin-right: -1rem; */
}

.cardContainer:last-child {
    overflow: visible;
}

.card{
    transform-origin: top left;
    transform: scale(var(--cardScale));
}

.card {
    background-image: url("img/back.png");
    background-repeat: no-repeat;

    height: 540px;
    width: 360px;

    border-radius: var(--cardBorderRadius);
}

.score {
    align-self: flex-start;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 15%;
    margin-right: 2rem;
    margin-left: -5rem;
    background-color: white;   
    width: 3rem;
    height: 3rem;
    min-width: 3rem;
    min-height: 3rem;
    font-style: normal;
    font-weight: lighter;
}

.score {
    font-size: var(--scoreSize) !important;
    /* margin-top: 10%; */
    text-align: center;
    vertical-align: middle;
}

i {
    font-size: 2.5rem;
    font-style: normal;
    font-weight: lighter;
    display: inline-block;
    vertical-align: middle;
}

.buttons {
    width: 100%;
    border-top: 1px solid white;
    margin: auto;
    height: 10rem;
    touch-action: manipulation;
}

.buttons .gameButton {
    margin-right: 1rem;
    margin-top: auto;
}

#newRound {
    background-color: #ffdb81;
}

#newRound:disabled {
    background-color: white;
}

.hand {
    margin-top: 4rem;
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 1rem;
}

.playerHand {
    max-width: 30%;
    min-width: calc(var(--cardWidth) * var(--cardScale) * 1.5);
    border: 2px none white;
    border-radius: calc(var(--cardBorderRadius)/2);
}

.dealerHand {
    max-width: calc(var(--cardWidth) * var(--cardScale) * 3);
    min-width: var(--cardWidth);
}

#chat {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    color: white;
    font-size: var(--textSize);
    border-left: 1px solid white;
    overflow:auto;
    height: 100%;
    background-color: var(--primaryColor);
}

.sidebar .log {
    border-top: 1px solid white;
}

.sidebar .uiBox
{
    border-left: none;
    border-right: none;
}

.chatItem {
    display: inline-block;
    margin: 1rem;
}

.content {
    height: calc(100% - var(--navbarHeight) - .1rem);
    margin-top: var(--navbarHeight);
}

.btn-secondary {
    background-color: var(--primaryColor);
    color: white;
    border-color: white;
}

.btn-secondary:hover {
    background-color: var(--primaryAccentColor);
    border-color: white;
}

.uiBox > * {
    color: white;
    font-size: var(--textSize);
    margin: .5rem 0 .5rem 0;
    display: inline-block;
    text-align: right;
}

.statLabel {
    float: left;
    margin-right: .5rem;
}

.uiBox {
    position: fixed;
    top: calc(var(--navbarHeight) + 1rem); /*Be sure to make spaces between operands and operator*/
    left: 1rem;
    z-index: 998;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    /* max-width: 20%;
    min-width: 15rem; */
    padding: .5rem;
    border-radius: 4px;
    background-color: var(--primaryColor);
}

.resetStatsButton {
    width: 9rem;
    font-size: var(--textSize);
    text-align: center; 
    margin-left: auto;
}

#settingsModal .modal-body {
    width: 80%;
    display: flex; 
    flex-direction: column; 
    margin: auto;
}

#settingsModal .modal-body > * {
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size: var(--textSize);
}

.counts {
    left: initial;
    right: calc(16.66% + 1rem);
}

@keyframes popUpAnim {
    0% {visibility: visible;}
    100% {visibility: hidden;}
}

.countChecker
{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 37%;
    width: 20rem;
    z-index: 999;
    box-shadow: 0 0 0 999999px rgba(0, 0, 0, .5);
    transition: top .5s ease-out, opacity .5s ease-in;
    opacity: 1.0;
    border-width: 2px;

    animation-name: popUpAnim;
    animation-duration: .7s;   
    animation-direction: alternate;
}

.countChecker .d-flex > *
{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.countChecker input, .countChecker input:focus
{
    border: 1px solid white;
    background-color: var(--primaryColor);
    color: white;
    caret-color: white;
    box-shadow: none;
    text-align: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

.countChecker input::selection
{
    background-color: darkgreen;
}

.countChecker input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.countChecker input:focus::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    opacity: 0; /* Firefox */
}

.countChecker[hide=false] {
    top: 37%;
    opacity: 1;
}

.countChecker[hide=true] {
    top: -50%;
    opacity: 0;
}

#askCount ~ .input-group
{
    max-width: 15rem;
}

input[type=checkbox] {
    margin-top: .1rem;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@media (orientation: portrait) {

    :root {
        /* --cardScale: .7;
        --cardBorderRadius: 30px;
        --primaryColor: darkseagreen;
        --primaryAccentColor: rgb(108, 146, 108); */
        --navbarHeight: 5rem;
        --buttonsHeight: 15%; 
        --scoreSize: 1.8rem;
        --textSize: 1.6rem !important;
    }

    .titleCheckboxContainer {
        min-width: 14rem;
        
    }

    .titleCheckboxContainer label {
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
        display: inline-block;
    }

    input[type=checkbox] {
        margin-top: .5rem;
    }

    .buttons .btn:hover {
        background-color: white;

    }

    .btn:focus {
        box-shadow: none;
    }

    .dealerHand
    {
        /* padding-top: 10%; */
    }

    .gameAlert
    {
        left: 1rem;
        top: calc(var(--navbarHeight) + 1rem);
        width: 80%;
    }

    .statistics {
        position: initial;
        top: initial;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        display: block;
    }

    .statistics > * {
        display: block;
        color: white;
        
    }

    .counts {
        transform: translateX(-50%);
        left: 50%;
        right: initial;
        top: initial;
        bottom: 1rem;
        width: 60%;
    }

    .counts p {
        margin-top: .2rem;
        margin-bottom: .2rem;
    }

    .gameButton {
        height: 5rem;
        width: 5rem;
    }

    .score
    {
        width: 3.5rem;
        height: 3.5rem;
        min-width: 3.5rem;
        min-height: 3.5rem;
        margin-left: -5.5rem;
    }

    #settingsModal input[type='checkbox'] {
        width: 1.8rem;
        height: 1.8rem;
    }

    .resetStatsButton {
        width: 12rem;
    }

    .dealerContainer
    {
        padding-top: 10%;
    }

    .decisionLabel {
        padding-top: 5rem;
        margin-bottom: -5rem;
    }
    
    .resultLabel {
        padding-top: 2rem;
        margin-bottom: -2rem;
    }

    .buttons {
        height: 10rem;
    }

    .countChecker {
        width: 60%;
    }
/*
    

    .btn {
        font-size: var(--textSize);
    }

    .gameButton {
        height: 7rem;
        width: 7rem;
    }

    @keyframes loadingScreenAnim {
        0% {visibility: visible;opacity: 1.0;}
        50% {visibility: visible;opacity: 1.0;}
        100% {visibility: hidden;opacity: 0.0;}
    }

    #loadingScreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 120%;
        height: 120%;
        background-color: white;
        visibility: hidden;
        opacity: 1.0;
        z-index: 999;
        animation-name: loadingScreenAnim;
        animation-duration: .7s;   
        animation-timing-function: ease-out;
    }

    #chartModal .modal-dialog
    {
        max-width: 90%;
    }

    #chartModal h5
    {
        font-size: var(--textSize);
    }

    img
    {
        width: 100%;
        height: 100%;
    }
  } */