:root {
    --cardScale: 0.4;
    --cardBorderRadius: 30px;
    --navbarHeight: 5rem;
    --primaryColor: darkseagreen;
    --primaryAccentColor: rgb(108, 146, 108);
}

body, html {
    height: 100%;
    width: 100%;
    background-color: var(--primaryColor);
    /* overflow: hidden; */
    overflow: auto;
}

body {
    font: 13px Helvetica, SansSerif;
    background-color: var(--background-primary);
    color: var(--content-primary);
    margin-top: 0px;
}

#titleBar {
	margin-top: 0rem;
	margin-bottom: 0 !important;
	display: flex;
    flex-direction: row;
	align-items: center;
	width: 100%;
    font-weight: lighter;
	height: var(--navbarHeight);
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

#alert {
    position: fixed;
    top: var(--navbarHeight);
    left: 0;
    z-index: 999;
}

#titleBar > *
{
    font-size: 1rem;
    margin: auto;
}

hr {
    margin: 0rem;
    background-color: white;
}

#title {
   /* margin-top: 1.4rem; */
   margin-left: 1rem;
   font-size: 1.8rem;
}

#subtitle {
   margin-top: 1.8rem;
   margin-left: 1rem;
   font-size: 1rem;
}

#versionLabel {
    margin-top: 8px;
    font-size: 1rem;
    float: right;
    margin-left: auto;
    margin-right: 2rem;
}

#board {
    background-color: var(--primaryColor);
    height: 100%;
    width: auto;
}

.gameButton {
    height: 5rem;
    width: 5rem;
    /* border-radius: 50%; */
}

.hand, .gameButton {
    display: flex;
    transform-origin: center;
    justify-content: center;
    align-items: center;
    margin: auto 0;
}

.container-fluid {
    margin: 0;
    
}

.cardContainer {
    width: calc(360px * var(--cardScale));
    height: calc(540px * var(--cardScale));
    overflow: hidden;
}

.cardContainer:last-child {
    overflow: visible;
}

.card{
    transform-origin: top left;
    transform: scale(var(--cardScale));
}

.card {
    background-image: url("../img/back.png");
    background-repeat: no-repeat;

    height: 540px;
    width: 360px;

    border-radius: var(--cardBorderRadius);
}

.score {
    align-self: flex-start;
    min-width: 3rem;
    min-height: 3rem;
    border-radius: 15%;
    margin-right: 2rem;
    background-color: white;   
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding-top: .65rem;
    font-style: normal;
    font-weight: lighter;
}

.score {
    font-size: 1.5rem !important;
    /* margin-top: 10%;
    text-align: center;
    vertical-align: middle; */
}

i {
    font-size: 3rem;
    font-style: normal;
    font-weight: lighter;
    display: inline-block;
    vertical-align: middle;
}

.buttons .gameButton {
    margin-right: 1rem;
    margin-top: 4rem;
}

.hand {
    margin-top: 4rem;
    padding: 1rem;
}

.playerHand {
    max-width: 30%;
    min-width: 20rem;
    border: 2px none white;
    border-radius: calc(var(--cardBorderRadius)/2);
}

#chat {
    margin: 0;
    padding: 0;
    /* height: 100%; */
    color: white;
    font-size: 1.3em;
    border-left: 1px solid white;
    overflow:auto;
    height: 100%;
}

.chatItem {
    display: inline-block;
    margin: 1rem;
}

#content {
    height: calc(100% - var(--navbarHeight) - .1rem);
    margin-top: var(--navbarHeight);
}

.btn-secondary {
    background-color: var(--primaryColor);
    color: white;
    border-color: white;
}

.btn-secondary:hover {
    background-color: var(--primaryAccentColor);
    border-color: white;
}